.skills {
  padding: clamp(1.875rem, 0.998rem + 4.39vw, 5rem) 0;
}
.skillsBox {
  margin-top: clamp(2.5rem, 1.623rem + 4.39vw, 5.625rem);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(0.5rem, 0.289rem + 1.05vw, 1.25rem);
  flex-wrap: wrap;
}
.code {
  margin-top:clamp(2.5rem, 1.623rem + 4.39vw, 5.625rem);
  line-height: 130%;
  font-weight: 500;
  font-size: clamp(0.625rem, 0.485rem + 0.7vw, 1.125rem);
  color: #000;
}
