.logo {
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: inherit;
  cursor: pointer;
}
.logo:hover {
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
    0px -4px 10px rgba(255, 255, 255, 0.3);
}
.logo:active {
  transform: scale(0.95);
}
