.social {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.item {
  color: #101820ff;
  text-decoration: none;
  display: flex;
  font-size: clamp(1.875rem, 1.7rem + 0.88vw, 2.5rem);
  transition: all 0.2s;
}

.item:hover {
  scale: 1.1;
}
.item:nth-child(1):hover {
  color: #007ebb;
}
.item:nth-child(2):hover {
  color: #181616;
}
.item:nth-child(3):hover {
  color: #7aa5da;
}
.item:nth-child(4):hover {
  color: #ef3561;
}
.item:nth-child(5):hover {
  color: #4460a0;
}
.item:active {
  scale: 0.9;
}
