.about {
  padding: clamp(1.875rem, 0.998rem + 4.39vw, 5rem) 0;
  background-color: inherit;
}
.textBox {
  margin-top: clamp(2.5rem, 1.623rem + 4.39vw, 5.625rem);
  max-width: 90%;
}
.text {
  margin: 10px auto;
  color: #f8f8f8;
  font-size: clamp(0.75rem, 0.68rem + 0.35vw, 1rem);
  letter-spacing: 2px;
  line-height: clamp(1rem, 0.754rem + 1.23vw, 1.875rem);
  font-weight: 300;
  padding-left: 25px;
}
.p {
  font-weight: 500;
}
.tag {
  color: #80183b;
}
.attr {
  color: #dabf00;
}
.data {
  color: #04dfe1;
}
@media (max-width: 1024px) {
  .textBox {
    max-width: 100%;
  }
}
