.header {
  background-color: #101820;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 15;
  border-bottom: 1px solid #fee715;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: clamp(0.938rem, 0.756rem + 0.91vw, 1.563rem) 20px;
}

.link {
  font-size: clamp(1rem, 0.745rem + 1.27vw, 1.875rem);
  text-decoration: none;
  position: relative;
  z-index: 17;
  color: inherit;
}

.blockL {
  display: flex;
  align-items: center;
  gap: 40px;
}
